html,
body {
    color: #555;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

main {
    margin: 3rem auto;
    max-width: 95vw;
    width: 50ch; // uses text size for width

}

h1 {
    color: #333;
}